<%- include("partials/header") -%>

<h1>Compose</h1>


<div class="">
  <form action="/compose" method="post">
    <div class="form-group">
      <label for="">Title</label>
      <input class="postTitle form-control" type="text" name="pTitle">
      <label for="">Post</label>
      <textarea class="postBody form-control" name="pBody" rows="4" cols="80"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>

  </form>
</div>

<%- include("partials/footer") -%>
